<% layout("./layouts/boilerplate") %>
    <div>
        <h1 class="text-center">Welcome To Our World</h1>
       


        <div class="box" height = "100vh">
            <div >
                <h2 class="text-center">Lets start our journey...</h2>

                <div class="d-flex justify-content-between">
                    <a class="btn btn-primary" href="/login">Login</a>
                    <a class="btn btn-primary" href="/register">Register</a>

                </div>
                

            </div>
         

        </div>







    </div>